---
layout: page
title: Contacto
permalink: /contact/
---

<div class="py2">
  <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
    <input type="email" name="email" class="field-light" placeholder="Correo electrónico">
    <textarea type="text" name="content" class="field-light" rows="5" placeholder="Escribe tu consulta aquí..."></textarea>
    <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks.html" />
    <input type="hidden" name="_subject" value="New submission!" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" class="button button-blue button-big mobile-block" value="Enviar">
  </form>
</div>
