<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">Más Nuevas</a>
      {% else %}
        <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">Más Nuevas</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">Más Nuevas</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Más Antiguas</a>
    {% else %}
      <span class="pagination-item disabled">Más Antiguas</span>
    {% endif %}
  </div>
</div>
